* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
    background: linear-gradient(
        to bottom,
        #ff7eb3,
        #ff758c,
        #ffb199,
        #ffd194
    );
    min-height: 100vh;
    padding: 40px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #2c2c2c;
}


h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: rgb(226, 223, 20);
    text-shadow: 0 4px 10px rgba(0,0,0,0.3);
    letter-spacing: 2px;
    font-weight: bold;
}


table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

thead {
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    color: white;
}

thead th {
    padding: 18px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.9);
}

tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.7);
}

tbody td {
    padding: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 1rem;
}


tbody tr:hover {
    background: #ffe8c8;
    transition: 0.25s ease-in-out;
}


a {
    color: #ff5f6d;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff2e63;
    text-decoration: underline;
}